// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    // spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-sh-at-startup "noctalia"
    spawn-sh-at-startup "musicpresence"
    spawn-sh-at-startup "wl-paste --watch cliphist store"
    // Export Wayland display and desktop session to D-Bus
    spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"

    // Restart portal-gnome after niri's ScreenCast D-Bus interface is ready
    spawn-at-startup "sh" "-c" "while ! busctl --user status org.gnome.Mutter.ScreenCast >/dev/null 2>&1; do sleep 0.2; done; pkill -f xdg-desktop-portal-gnome"


