    prefer-no-csd
    screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }

 switch-events {
        // # When the laptop lid is closed, run the system suspend command.
        lid-close {
            // # “spawn” executes a program; the first argument is the binary,
            // # the following arguments are its parameters.
            spawn "systemctl" "suspend";
        }
    
        // # Optional – you may also want a notification when the lid opens.
        lid-open {
            spawn "notify-send" "Welcome Boss";
        }
    }
