/* =============================================================================
 *
 * Waybar configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@define-color highlight #5f4b8b;
@define-color base1  #1c1c27;

@keyframes blink-warning {
    70% {
        color: white;
    }
    to {
        color: white;
        background-color: #ff7f50;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }
    to {
        color: white;
        background-color: #ff4500;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    color: #e3e3ea;
    background-color: @base1;
    font-family: JetBrainsMono;
    font-size: 13px;
}

/* Module padding and margins */
#mode, #network, #custom-keyboard-layout, #idle_inhibitor, #cpu, #memory, #backlight, #pulseaudio, #battery, #clock, #tray {
    padding: 0.5rem 0.6rem;
    margin: 1px 0px;
}

/* Workspaces button styles */
#workspaces button {
    border-radius: 5px;
    color: #eceff4;
    padding: 1px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.focused {
    border: 1px solid #d8dee9;
}

#workspaces button.urgent {
    border-color: #ff4500;
    color: #ff4500;
}

/* Battery and CPU warning styles */
#cpu.warning {
    color: #ff7f50;
}

#cpu.critical {
    color: #ff4500;
}

#memory.warning {
    color: #ff7f50;
}

#memory.critical {
    color: #ff4500;
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Backlight, volume, and other icons */
#backlight.icon {
}

#pulseaudio.muted {
    color: #5f4b8b;
}

#battery.warning {
    color: #ff7f50;
}

#battery.critical {
    color: #ff4500;
}

/* WARP connected = green */
#custom-warp.connected {
    color: #4CAF50; /* Bright green */
    font-weight: bold;
}

/* WARP disconnected = red */
#custom-warp.disconnected {
    color: #FF5252; /* Bright red */
    font-weight: bold;
}

/* WARP unknown = yellow */
#custom-warp.unknown {
    color: #FFD700; /* Yellow */
    font-weight: bold;
}


/* Power button */
#custom-power {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}


