layout {

    focus-ring {
        active-color   "#d78075"
        inactive-color "#231b1a"
        urgent-color   "#cd2805"
    }

    border {
        active-color   "#d78075"
        inactive-color "#231b1a"
        urgent-color   "#cd2805"
    }

    shadow {
        color "#231b1a70"
    }

    tab-indicator {
        active-color   "#d78075"
        inactive-color "#7b291f"
        urgent-color   "#cd2805"
    }

    insert-hint {
        color "#d7807580"
    }
}

recent-windows {
    highlight {
        active-color "#d78075"
        urgent-color "#cd2805"
    }
}
