layout {

    focus-ring {
        active-color   "#eef2ff"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#eef2ff"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#eef2ff"
        inactive-color "#c9d6f1"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#eef2ff80"
    }
}

recent-windows {
    highlight {
        active-color "#eef2ff"
        urgent-color "#ffb4ab"
    }
}
