binds{
    Super+L { spawn "sh" "-c" "pamixer --mute && dms ipc call lock lock"; }
    Alt+Space { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+Alt+L { spawn "dms" "ipc" "call" "lock" "lock"; }
    Alt+m { spawn "dms" "ipc" "call" "audio" "micmute"; }
    SUPER+m { spawn "dms" "ipc" "call" "audio" "mute"; }
    Alt+w { spawn "dms" "ipc" "call" "wallpaper" "next"; }
    Ctrl+Alt+v { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    SUPER+Escape { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
  }
